services:
  - type: web
    name: union-pixel-battle
    runtime: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python bot.py
    envVars:
      - key: PORT
        value: 10000
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: BOT_TOKEN
        sync: false
      - key: CHANNEL_ID
        sync: false